# Database (Shared with Website)
DATABASE_URL="postgresql://neondb_owner:npg_BrRNZc7QAD0j@ep-withered-tree-abeitjt9-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3001"

# Sendit API
SENDIT_API_BASE_URL="https://api.sendit.ma"
SENDIT_PUBLIC_KEY="e6ef89a1a8a2c9f8cf95cc6cf10e3e3b"
SENDIT_PRIVATE_KEY="gNKoj1BQIdFF9YxvNUytq1UQ0TZtyluX"
